body{
    padding: 0px;
    margin: 0px;
}

#DIV0{
    grid-column: 1;
    background-color: yellow
}

#DIV1{
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#DIV2{
    grid-column: 3;
    background-color: aliceblue;
    
    text-align: right;
}

#LOGO{
    grid-column: 2;
    justify-self: center;
}



