body{
    padding: 0px;
    margin: 0px;
}

#DIV0{
    grid-column: 1;
    background-color: yellow
}

#DIV1{
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#DIV2{
    grid-column: 3;
    background-color: aliceblue;
    
    display: flex;
    justify-content: center;
}

#LOGO{
    grid-column: 2;
    justify-self: center;
}

.iconeLEFT{
    padding-left: 10px;
}

span{
    display: block;
    padding-top: 30px;
    padding-left: 250px;
    
}


